@font-face {
    font-family: 'Campton';
    src: url('../fonts/Campton-Light.otf') format('opentype');
    font-weight: 400;
 }
 @font-face {
   font-family: 'Campton';
   src: url('../fonts/Campton-Bold.otf') format('opentype');
   font-weight: bold;
}
*{
    outline: none;
    outline-color: transparent;
}
body {
    background-color: #19171a;
    cursor: url(../images/cursor.svg) 4 4,auto !important;
    overflow-x: hidden;
}
.text-grapes{
    color: #a56fae;
}
.bg-grapes{
    background-color: #a56fae;
}
.mh-100vh{
    min-height: 100vh;
}
.object-fit-cover{
    object-fit: cover;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-link:hover{
    text-decoration: none;
}
.follower {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    position: absolute;
    pointer-events: none;
    height: 40px;
    width: 40px;
    z-index: 10000;
    transform: translate(-50%, -50%);
    transition-duration: .3s;
    transition-property: width, height;
    transition-timing-function: ease-out;
    transform-origin: 100% 100%;
    
}
.navbar-toggler {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) !important;
    outline: none;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar {
    z-index: 100;
}
.overlay-menu{
    display: none;
}
.header__menu {
    padding: 12px 7px;
    border-radius: 50%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.41,.15,.41,1.31);
    transition: -webkit-transform .2s cubic-bezier(.41,.15,.41,1.31);
    transition: transform .2s cubic-bezier(.41,.15,.41,1.31);
    transition: transform .2s cubic-bezier(.41,.15,.41,1.31),-webkit-transform .2s cubic-bezier(.41,.15,.41,1.31);
    line-height: unset;
    height: initial;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section .header-content{
    padding-top: 100px;
    z-index: 10;
}
.hero-section::before {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000000d4;
    position: absolute;
    z-index: 1;
}
.Hero-title{
    font-size: 5.5rem;
    line-height: 1;
}
.hero-eyebrow{
    font-size: 2.8rem;
}
.time-text{
    font-size: 6rem;
}
.header-bottom .btn{
    font-weight: 600;
}

.cursor {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0px 0px 0px 1px #23bfa0;
  }
  .cursor.link-grow{
    box-shadow: 0px 0px 0px .5px #23bfa0;
}

.play-btn {
    background-image: url(../images/pause.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 14px;
    padding-left: 18px;
    min-width: 100px;
}
.play-btn.paused{
    background-image: url(../images/play.svg);
    background-size: 10px;
}

.overlay {
    background: #3d303d;
    position: absolute;
    opacity: 0;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
}
.show .overlay{
    pointer-events: initial;
}
.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 280px;
    font-family: 'Campton';
    font-weight: 800;
    color: #1e181f91;
}

.overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



.overlay li {
    padding-top: 5px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Campton';
}
.overlay li a{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
    transition: all ease-out .3s;
}
.overlay li a:hover{
    text-decoration: none;
    color: white;
}


.overlay:before {
    animation: grain 1s steps(10) infinite;
    background-image: url(../images/grains.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.48;
    position: fixed;
    top: -110%;
    width: 300%;
}

@keyframes grain {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -10%); }
    20% { transform: translate(-15%, 5%); }
    30% { transform: translate(7%, -25%); }
    40% { transform: translate(-5%, 25%); }
    50% { transform: translate(-15%, 10%); }
    60% { transform: translate(15%, 0%); }
    70% { transform: translate(0%, 15%); }
    80% { transform: translate(3%, 35%); }
    90% { transform: translate(-10%, 10%); }
}
@media(max-width: 900px) {
    .overlay ul {
          top: 46%;
    }

    .overlay li {
          padding-top: 5px;
    }

    .overlay h1 {
          font-size: 140px;
    }
}