@font-face {
    font-family: 'Campton';
    src: url('../fonts/Campton-Light.otf') format('opentype');
    font-weight: 400;
 }
 @font-face {
   font-family: 'Campton';
   src: url('../fonts/Campton-Bold.otf') format('opentype');
   font-weight: bold;
}
*{
    outline: none;
    outline-color: transparent;
}
body {
    background-color: #19171a;
    cursor: url(../images/cursor.svg) 4 4,auto !important;
    overflow-x: hidden;
    color: white;
    overflow-y: hidden
}
body.page-loaded{
    overflow-y: visible;
}

.text-grapes{
    color: #a56fae;
}
.bg-grapes{
    background-color: #a56fae;
}
.mh-100vh{
    min-height: 100vh;
}
.object-fit-cover{
    object-fit: cover;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-link:hover, .btn-link:focus{
    text-decoration: none;
}
.btn-neomorph {
    color: #a877b5;
    padding: 10px 24px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #9b6da763;
    box-shadow: 6px 6px 16px 0 rgb(166 118 179 / 4%), -6px -7px 12px 0 rgb(140 100 151 / 8%);
}
.bg-img{
    left: 0;
    top: 0;
}
.f-18{
    font-size: 18px;
}
.mb-30{
    margin-bottom: 30px;
}
.big-title {
    color: #ffffff0a;
    font-size: 7rem;
    line-height: .96em;
}
.form-control {
    border-radius: 3px;
    background-color: #222023;
    border-color: #252525;
    font-size: 14px;
}
.form-control:focus {
    color: #f7f7f7;
    background-color: #222023;
    border-color: #a56fae4a;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(165 111 174 / 9%);
}
.custom-file-label {
    background-color: #222023;
    border: 1px solid #252525;
    border-radius: 3px;
}
.custom-file-input:focus~.custom-file-label {
    border-color: #a56fae4a;
    box-shadow: 0 0 0 0.2rem rgb(165 111 174 / 9%);
}
.custom-file-label::after {
    line-height: 1.5;
    color: #a56fae;
    background-color: #a56fae0d;
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}

.check-list li:before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: 600;
    font-size: 12px;
    color: #a56fae;
}
.check-list li {
    position: relative;
    padding-left: 21px;
    margin-bottom: 10px;
    line-height: 23px;
    font-size: 14px;
}

/*##################-------Loader---------##########################*/
.transitionBars {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    pointer-events: none;
}
.transitionBars .bar--right {
    right: 0;
}
.transitionBars .bar--left {
    left: 0;
}

.transitionBars .bar--left, 
.transitionBars .bar--right {
    height: 100%;
    width: calc(50% + 1px);
    position: fixed;
    top: 0;
    background-color: #422846;
    opacity: 1;
}

/*##################-------Cursor---------##########################*/
.cursor {
    position: absolute;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 100000;
    box-shadow: 0px 0px 0px 1px #23bfa0;
} 
  .cursor.link-grow{
    box-shadow: 0px 0px 0px .5px #23bfa0;
}



/*##################-------Navigation---------##########################*/
.navbar-toggler {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) !important;
    outline: none;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar {
    z-index: 100;
}
.overlay-menu{
    display: none;
}
.header__menu {
    padding: 12px 7px;
    border-radius: 50%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.41,.15,.41,1.31);
    transition: -webkit-transform .2s cubic-bezier(.41,.15,.41,1.31);
    transition: transform .2s cubic-bezier(.41,.15,.41,1.31);
    transition: transform .2s cubic-bezier(.41,.15,.41,1.31),-webkit-transform .2s cubic-bezier(.41,.15,.41,1.31);
    line-height: unset;
    height: initial;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__menu img{
    pointer-events: none;
}
.hero-section .header-content{
    padding-top: 100px;
    z-index: 10;
}

/*##################-------Overlay Menu---------##########################*/
.overlay {
    background: #000000;
    position: fixed;
    opacity: 0;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 100;
}
.show .overlay{
    pointer-events: initial;
}
.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 280px;
    font-family: 'Campton';
    font-weight: 800;
    color: #1e181f91;
}

.overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.overlay li {
    padding-top: 5px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Campton';
}
.overlay li a{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
    transition: all ease-out .3s;
}
.overlay li a:hover{
    text-decoration: none;
    color: white;
}
.overlay:before {
    animation: grain 1s steps(10) infinite;
    background-image: url(../images/grains.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.33;
    position: fixed;
    top: -110%;
    width: 300%;
}

@keyframes grain {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -10%); }
    20% { transform: translate(-15%, 5%); }
    30% { transform: translate(7%, -25%); }
    40% { transform: translate(-5%, 25%); }
    50% { transform: translate(-15%, 10%); }
    60% { transform: translate(15%, 0%); }
    70% { transform: translate(0%, 15%); }
    80% { transform: translate(3%, 35%); }
    90% { transform: translate(-10%, 10%); }
}
@media(max-width: 900px) {
    .overlay ul {
          top: 46%;
    }

    .overlay li {
          padding-top: 5px;
    }

    .overlay h1 {
          font-size: 140px;
    }
}

/*##################-------Hero Section---------##########################*/
.hero-section::before {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #00000096;
    position: absolute;
    z-index: 1;
}
.Hero-title{
    font-size: 5.5rem;
    line-height: 1;
}
.hero-eyebrow{
    font-size: 2.8rem;
}
.Hero-title-lg{
    font-size: 9rem;
    line-height: 1;
}
.time-text{
    font-size: 6rem;
}
.header-bottom .btn{
    font-weight: 600;
}
.play-btn {
    background-image: url(../images/pause.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 14px;
    padding-left: 18px;
}
.play-btn.paused{
    background-image: url(../images/play.svg);
    background-size: 10px;
}


/*##################-------Background-text---------##########################*/
.bg-text-padding{
    padding-top: 180px !important;
}
.bg-text {
    color: #ffffff0a;
    font-size: 7rem;
    left: 15%;
    text-transform: uppercase;
    line-height: 96px;
}

/*##################-------Section---------##########################*/
.section-padder{
    padding: 100px 0px;
}
.section-header::after {
    content: "";
    height: 2px;
    width: 200px;
    background-color: #9b6da7;
    margin-top: 20px;
    display: inline-block;
}
.text-header::before{
    content: "";
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: white;
    margin-bottom: 15px;
}

/*##################-------Clients Section---------##########################*/
.clients-row .client-items img{
    width: 90%;
}

.clients-row {
    box-shadow: 0px 0px 21px #00000036;
    border-radius: 12px;
}
.clients-row .client-items {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
}
@media(max-width:992px){
    .clients-row .client-items {
        width: 25%;
    } 
}
@media(max-width:768px){
    .clients-row .client-items {
        width: 33.3%;
    } 
}

@media(max-width:576px){
    .clients-row .client-items {
        width: 50%;
    } 
}

/*##################-------Footer---------##########################*/
footer {
    background-color: #161417;
}
footer a{
    color: white;
}

footer a:hover{
    color:#a56fae ;
}

/*##################-------Tiles---------##########################*/
.images-tiles .tile{
    position: relative;
}

/*##################-------Services Section---------##########################*/    
.services-item::before{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a56faed9;
    content: "";
    left: 0;
    top: 100%;
    clip-path: circle(0%);
    transition: all .4s ease-out;
}
.services-item:hover::before{
    top: 0px;
    clip-path: circle(100%);
}
.services-item-content h4{
    display: inline-block;
}
.services-item-content h4::before{
    content: "";
    width: 70%;
    height: 1px;
    background-color: white;
    display: block;
    margin-bottom: 5px;
}
.services-item{
    max-width: 400px;
    margin: 0 auto;
}

/*##################-------Creative Corner---------##########################*/ 
.creative-item {
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    border: 1px solid #ffffff0d;
    border-radius: 5px;
}
.creative-item:hover{
    color:  white;
    text-decoration: none;
}
.creative-item h4 {
    margin-bottom: 0px;
    margin-top: 12px;
}
.creative-item div::before{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a56faed9;
    content: "";
    left: 0;
    top: 100%;
    clip-path: circle(0%);
    transition: all .4s ease-out;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
.creative-item div:hover::before{
    top: 0px;
    clip-path: circle(100%);
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

/*##################-------Team member tiles---------##########################*/
.member-tiles .tile{
    position: relative;
    padding: 2px;
    transition: all ease-out 1s;
    transform-style: preserve-3d;
}

.team-item .name {
    z-index: 10;
    top: -22px;
}
.team-item .name h2 {
    font-family: 'Campton';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 0px;
    text-shadow: 2px -1px 8px black;
    line-height: 32px;
}

.team-item .name span{
    font-family: 'Campton';
}
.team-item {
    padding: 20px 0px;
}


/*##################-------Blog---------##########################*/
.blog-item {
    background-color: #262427;
}
.blog-item .blog-item-footer a{
    color: white;
    font-size: 13px;
}
.blog-item .blog-content p {
    font-size: 13px;
    color: #b9b9b9;
}
.blog-item .blog-content h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}
.blog-item .blog-content .date {
    font-size: 12px;
    color: #ffffff;
}
.blog-item .blog-content{
    margin-bottom: 30px;
}
.blog-item .blog-thumb img{
    transition: all ease-out 300ms;
}
.blog-item:hover .blog-thumb img{
    transform: scale(1.1);
}
.blog-item .blog-content a{
    color: white;
}
.blog-item .blog-content .read-more{
    font-size: 13px;
}

li.page-item {
    margin: 5px;
}
.page-link {
    border-radius: 30px !important;
    color: #ffffff;
    font-weight: 500;
    padding: 11px 16px;
    background-color: #262427;
    border: 1px solid #ffffff2b;
    font-size: 14px;
}
.page-link:hover {
    color: #ffffff;
    background-color: #a56fae;
    border-color: #a56fae;
}

.page-item.active .page-link {
    background-color: #a56fae;
    border-color: #a56fae;
}


.opening-tiles{
    background-color: #262427;
    min-height: 150px;
    font-weight: bold;
    color: #a56fae;
    display: block;
    transition: all ease-out 300ms;
}
.opening-tiles:hover{
    background-color: #a56fae;
    color: white;
    text-decoration: none;
}
.career-form {
    background-color: #111111;
    border-radius: 12px;
    box-shadow: 6px 6px 11px #00000099;
}
.title-anim span{
    display: inline-block;
}

/*##################-------Modal---------##########################*/
.modal-header {
    background-color: #a56fae;
}
.close {
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 690px;
        margin: 1.75rem auto;
    }
}


::-webkit-scrollbar{width:7px
}
::-webkit-scrollbar-track{background:transparent
}
::-webkit-scrollbar-thumb{background:#a36fae9d;opacity:0.5;border-radius:3px
}
::-webkit-scrollbar-thumb:hover{opacity:1; background:#a36fae
}

.btn-filter {
    border: 2px solid #a56fae52;
    border-radius: 38px;
    padding: 6px 22px;
    margin: 15px 6px;
    color: white;
}
.btn-filter:hover {
    color: #a56fae;
    border-color: #a56fae;
}
.btn-filter.active {
    background-color: #a56fae;
    color: white;
}